<app-navbar></app-navbar>
<body>
    <div class="d-flex flex-column justify-content-center w-100 h-100">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="container text-center py-32 px-4">
                <h1 class="text-3xl font-semibold mb-4 text-white">Welcome to ElectroHub - Your Quirky Electronics Store!</h1>
                <p class="text-gray-300">Discover a world of exciting electronics and gadgets for every tech enthusiast.</p>
            </div>
        </div>
    </div>
</body>


