<div class="flex flex-col items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-md shadow-md text-center">
      <h1 class="text-4xl font-bold mb-6">Welcome to the Login Page</h1>

      <!-- Admin Login Button -->
      <div class="mb-4">
        <div [routerLink]="'/adminloginpage'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full cursor-pointer">
          Admin Login
        </div>
      </div>

      <!-- User Login Button -->
      <div>
        <div [routerLink]="'/userloginpage'" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full cursor-pointer">
          User Login
        </div>
      </div>
    </div>
  </div>