<div class="flex flex-col items-center justify-center h-screen">
  <div class="bg-white p-8 rounded-md shadow-md text-center">
    <h1 class="text-4xl font-bold mb-6">User Login</h1>

    <!-- Email Input -->
    <div class="mb-4">
      <input type="email" class="border p-2 w-64" placeholder="Email" [(ngModel)]="email">
    </div>

    <!-- Password Input -->
    <div class="mb-4">
      <input type="password" class="border p-2 w-64" placeholder="Password" [(ngModel)]="password">
    </div>

    <!-- User Login Button -->
    <div>
      <div class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full cursor-pointer"
           (click)="userLogin()">
        User Login
      </div>
    </div>
  </div>
</div>
