<div class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Brand Name -->
      <div class="text-white text-xl font-semibold">ElectroHub</div>

      <!-- Navigation Links -->
      <div class="flex space-x-4">
        <a routerLink="/" class="text-white">Home</a>
        <a routerLink="/productspage" class="text-white">Products</a>
        <a routerLink="/cartcomponent" class="text-white">Cart</a>
        <a routerLink="/aboutpage" class="text-white">About</a>
        <a routerLink="/loginpage" class="text-white">Login</a>
      </div>
    </div>
</div>
